@import '~antd/dist/antd.css';

/* ----- HEADER ----- */

.header__logo {
  max-height: 60px;
  padding: 7px;
}

.header--menu {
  margin: 0 auto;
  z-index: 1;
  border-radius: 0 0 15px 15px;
  background-color: #0062a7;
  line-height: 40px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.header--menu a {
  color: white;
}

.header--menu a:hover,
.header--menu span:hover {
  text-decoration: underline;
}

.searchResult--link {
  font-size: 1.6rem;
}

.searchbar--container {
  margin: 30px 0 35px 0;
  padding-left: 11px;
  padding-right: 11px;
}

.searchbar--container button {
  animation: button3d;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes button3d {
  to {
    box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 6px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset,
      rgba(250, 250, 250, 0.3) 2px 4px 5px inset;
  }
}

.header__icon {
  color: white;
  margin-right: 7px;
}

/* ----- FOOTER ----- */

#footer {
  max-width: 100%;
  max-height: 100%;
  background-color: #234165;
  margin: 0 15px 15px 15px;
  color: white;
  padding: 15px;
}

.footer-container {
  padding: 15px;
  min-height: 210px;
}

.footer-container p {
  margin: 0;
}

/* ----- CHARTS ----- */

.chart {
  border: 1px solid rgb(238, 238, 238);
  width: 100%;
  height: 100%;
}

.chart .ant-empty {
  margin-top: 200px;
  margin-bottom: 200px;
}

.map--chart {
  border: 1px solid white;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background-color: #f0f2f5;
  background: radial-gradient(
      circle,
      transparent 20%,
      #f0f2f5 20%,
      #f0f2f5 80%,
      transparent 80%,
      transparent
    ),
    20px 20px, linear-gradient(#e8e9e9 1.6px, transparent 1.6px) 0 -0.8px;
  background-size: 40px 40px, 40px 40px, 20px 20px, 20px 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

#column__statistic {
  margin: 20px 0 0 0;
  color: #386cac;
  text-align: center;
}

#column__statistic b {
  font-size: 18px;
}

.l7plot-tooltip-container {
  width: 350px;
}

.l7plot-tooltip-list-item {
  white-space: normal !important;
}

.map--modal-title {
  background-color: #b8dbec;
  text-align: center;
}

/* ----- SIDEBAR ----- */

.drawer--clean-button {
  margin-right: 89px;
  color: #799cad;
}

.fixed-widget {
  z-index: 10;
  position: fixed;
  top: 50%;
  left: -35px;
  width: 110px;
  box-shadow: 0 3px 6px -4px #648db3a4, 0 6px 16px #648db3a4,
    0 9px 28px 8px #0000000d;
  transform: rotate(270deg);
  border-radius: 0 0 7px 7px;
  letter-spacing: 1px;
  opacity: 0.75;
}

.filter--container {
  width: 100%;
  padding-bottom: 20px;
}

.filter--title {
  margin-bottom: 5px;
}

/* ----- HOME ----- */

.home--button {
  width: 200px;
}

.color {
  background-color: #0062a7;
  line-height: 150px;
}

#home__head--title {
  text-align: left;
  color: #94ffa7;
  font-weight: 500;
  letter-spacing: 1px;
  text-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
}

#home__divider--title {
  font-size: 24px;
}

#home__table--container {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
}

#home__banner {
  position: absolute;
  margin: -56px -15px 0 -15px;
}

/* ----- CONTENT ----- */

.divider__title {
  font-size: 30px;
}

#logo__ods {
  height: 110px;
}

#regulations__table--link {
  font-size: 18px;
}

.pattern {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-image: url('/src/media/title_banner.svg');
}

#tag__logo {
  height: 45px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#tag__avatar {
  background-color: rgb(76, 159, 56);
  margin: 5px;
  height: 34px;
  width: 34px;
}

.policies__tag {
  border: 1px dashed #aaa;
  margin-left: 1px;
}

#notfound__icon {
  font-size: 100px;
  text-align: center;
  color: orange;
  margin-top: 40px;
}

#notfound__title {
  text-align: center;
  font-size: 120px;
  font-weight: 700;
  color: #042e42;
}

.align__center {
  text-align: center;
}

.compendium__row--height {
  height: 160px;
}

.ods__box {
  text-align: center;
}

.ods__name {
  font-weight: 500;
  font-style: italic;
  font-size: 16px;
}

.ods__button--container {
  position: absolute;
  bottom: 15px;
  width: 95%;
}

/* ----- UI LIBRARY OVERWRITE ----- */

.title--margin0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.loading-card__container {
  text-align: center;
}

.ant-avatar > img {
  object-fit: contain;
}

.avatar {
  color: #f56a00;
  background-color: #fde3cf;
  font-weight: 500;
}

.ant-tabs-nav {
  border-bottom: 2px solid white;
}

.white-text {
  color: white;
  display: inline;
}

.margin-20 {
  margin-left: 50px;
  margin-right: 50px;
}

.white--link {
  color: white;
  text-decoration: underline;
}

.ant-list-item-meta-title > a {
  font-size: 12;
  text-decoration: underline;
  color: #096dd9;
}

.link--sm {
  font-size: 15px;
  text-decoration: underline;
}

.link--xs {
  text-decoration: underline;
  font-size: 12px;
}

.ant-divider-horizontal.ant-divider-with-text::before,
.ant-divider-horizontal.ant-divider-with-text::after {
  border-top: 2px solid #2a4668;
}

.margin-25 {
  margin-left: 25px;
  margin-right: 25px;
}

.spin--container {
  margin: 20px;
  padding: 50px;
  text-align: center;
}

.affiliation--link {
  font-size: 16px;
  text-decoration: underline;
}

/* ----- RESPONSIVE ----- */

.mobile--logo {
  text-align: right;
}

.mobile--logo-left {
  text-align: left;
}

@media (max-width: 576px) {
  .mobile--logo,
  .mobile--logo-left {
    text-align: center;
  }

  .searchResult--link {
    font-size: 0.9rem;
  }

  #home__banner {
    display: none;
  }

  #home__head--title {
    text-align: center;
    color: #041625;
    font-size: 30px;
    font-weight: 600;
    text-shadow: none;
    margin: 20px 0 0 0;
  }

  #home__map--title {
    font-size: 18px;
    white-space: normal;
  }
}

@media (max-width: 1500px) {
  #home__head--title {
    margin-top: -150px;
  }
}

@media (max-width: 1300px) {
  #home__head--title {
    margin-top: -250px;
  }
}

@media (max-width: 1199px) {
  #home__head--title {
    margin-top: 0px;
    text-align: center;
  }
}

/*  SVG */

.st0 {
  fill: #ffffff;
}
.st1 {
  fill: #eee;
}
.st2 {
  fill: url(#SVGID_1_);
}
.st3 {
  fill: url(#SVGID_2_);
}
.st4 {
  fill: url(#SVGID_3_);
}
.st5 {
  fill: url(#SVGID_4_);
}
.st6 {
  fill: url(#SVGID_5_);
}
.st7 {
  fill: url(#SVGID_6_);
}
.st8 {
  fill: url(#SVGID_7_);
}
.st9 {
  fill: url(#SVGID_8_);
}
.st10 {
  fill: #ffffff;
  stroke: url(#SVGID_9_);
  stroke-width: 8.0755;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.st11 {
  font-weight: 600;
}
.st12 {
  font-size: 25px;
}
.st13 {
  font-size: 30px;
}

.svg__shadow {
  filter: drop-shadow(6px 8px 5px rgba(0, 0, 0, 0.25));
}
