@import "~antd/dist/antd.css";

.header__logo {
  max-height: 60px;
  padding: 10px 10px;
}

.mobile--logo {
  text-align: right;
}

.mobile--logo-left {
  text-align: left;
}

@media (max-width: 576px) {
  .mobile--logo,
  .mobile--logo-left {
    text-align: center;
  }
}

.loading-card__container {
  text-align: center;
}

.ant-avatar > img {
  object-fit: contain;
}

.ant-tabs-nav {
  border-bottom: 2px solid white;
}

.fixed-widget {
  z-index: 10;
  position: fixed;
  bottom: 25px;
  left: 25px;
  box-shadow: 0 3px 6px -4px #648db3a4, 0 6px 16px #648db3a4,
    0 9px 28px 8px #0000000d;
}

.chart {
  border: 1px solid rgb(238, 238, 238);
  width: 100%;
  height: 100%;
}

.map--chart {
  border: 1px solid white;
  width: 100%;
  height: 100%;
}

#footer {
  max-width: 100%;
  max-height: 100%;
  background-color: #234165;
  margin: 0 15px 15px 15px;
  color: white;
  padding: 15px;
}

.footer-container {
  padding: 15px;
  min-height: 210px;
  background-color: #2a4668;
}

.footer-container p {
  margin: 0;
}

#column__statistic {
  margin: 20px 0 0 0;
  color: #386cac;
  text-align: center;
}

#column__statistic b {
  font-size: 18px;
}

.white-text {
  color: white;
  display: inline;
}

.home--button {
  width: 200px;
}

.margin-20 {
  margin-left: 50px;
  margin-right: 50px;
}

.white--link {
  color: white;
  text-decoration: underline;
}

.ant-list-item-meta-title > a {
  font-size: 12;
  text-decoration: underline;
  color: #096dd9;
}

.home--headline {
  text-align: center;
  border: 1px solid white;
  margin-bottom: 40px;
}

.map--modal-title {
  background-color: #b8dbec;
  text-align: center;
}

.link--sm {
  font-size: 15px;
  text-decoration: underline;
}

.link--xs {
  text-decoration: underline;
  font-size: 12px;
}

.header--menu {
  background-color: #009fe3;
  line-height: 40px;
}

.header--menu a {
  color: white;
}

.header--menu a:hover {
  text-decoration: underline;
}

.margin-25 {
  margin-left: 25px;
  margin-right: 25px;
}
